# requirements.txt
Django~=5.2.0
djangorestframework~=3.16.0
drf-spectacular~=0.28.0
django-cors-headers~=4.7.0
psycopg[binary]
gunicorn~=23.0
dj-database-url~=2.1.0
whitenoise[brotli]~=6.6.0
requests~=2.32.3
azure-servicebus~=7.14.2
sphinx~=8.2.3
sphinx-rtd-theme~=3.0.2
django-simple-history>=3.8.0
django-allauth>=0.57,<66.0
dj-rest-auth==7.0.1
python-dotenv>=0.21.0,<2.0
djangorestframework-simplejwt>=5.5.0